    .divWorkWithMe{
        background-color: #1b1f24;
        display: flex;
        flex-direction: column-reverse;
    }

    .divImgWork{
        background-image: url(../../../assets/img/pictures/fondoHomeBN.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 200px;
    }

    .work{
        color: white;
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
        width: 60%;
    }

    .work h1{
        font-size: 3rem;
        padding:1rem 0 0 0;
        font-weight: 400;
    }

    .work p{
        font-size: 1rem;
        font-weight: 300;
        padding: 1rem;
    }

    .divInfo button{
        font-size: medium;
        padding: 0.6rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        background-color:rgba(0,0,0,0.35);
        border: 3px solid white;
        color: white;
    }

    .divInfo button:hover{
        color: black;
        border: 3px solid black;
        background-color: rgba(255, 255, 255, 0.327);
        font-weight: 500;
        cursor: pointer;
    }

@media (min-width: 1024px){
    .divImgWork{
        position: relative;
        width: 50%;
        height: 600px;
    }

    .divWorkWithMe{
        flex-direction: row;
        height: 600px;
    }

    .imgSkills{
        height: auto;
        width: 100%;
        padding: 0 1rem;
    }

    .work h1{
        font-size: 2rem;
    }

    .work p{
        font-size: 1rem;
        padding: 0 2rem;
        line-height: 1.2rem;
        letter-spacing: 0.12rem;
        word-spacing: 0.1rem;

    }

    .work{
        width: 60%;
        gap: 1.5rem;
        justify-content: space-between;
    }
}

@media (min-width: 1200px){     
    .divImgWork{
        height: 100vh;
    }

    .divWorkWithMe{
        height: 100vh;
    }

    .imgSkills{

    }    

    .work{
        width: 60%;
        height: 100vh;
        gap: 1.6rem;
    }

    .work h1{
        font-size: 3rem;
        padding: 1rem 1.5rem 0 1.5rem;
    }

    .work p{
        font-size: 1.1rem;
        letter-spacing: 0.15rem;
        padding: 0 4rem;
        font-weight: 300;
        line-height: 1.4rem;
    }
}

@media (min-width: 1400px){  
    .work h1 {
        font-size: 3.5rem;
        padding: 2rem 4.5rem 0 4.5rem;
    }
    


    .work p{
        font-size: 1.6rem;
        letter-spacing: 0.25rem;
        padding: 0 5rem;
        line-height: 2rem;
    }
}    