li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.nav{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.nav__menu img{
    width: 8vw;
    margin-top: 80px;
}

.linkLinked{
    width: 14rem;
    padding-left: 15%;
}

.nav__menu{
    position: absolute;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    height: 100vh;
    width: 18vw;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 0.5s ease-in;    
}

.linkMenu{
    font-size: larger;
    display: block;
    text-decoration: none;
    padding: 15px;
    color:white;
    border-left:7px solid transparent ;
    transition: all 400ms ease;
}

.linkMenu:hover{
    border-left: 7px solid white;
    background: #2c2c2cfa;
    font-weight: 500;
}

.nav__toggler{
    cursor: pointer;
    z-index: 2;
}

.nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.5rem;
    background: black;
    transition: 0.3s ease-in;
}

.divNombre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Active Class */
.nav__active {
    transform: translateX(0%);
}
  
/* Toggle Icon Animation */
.toggle .linea1 {
    transform: rotate(-45deg) translate(-4px, 5px);
    z-index: 3;
    background: white;
}

.toggle .linea2 {
    color: white;
    opacity: 0;
    z-index: 3;
}

.toggle .linea3 {
    background: white;
    z-index: 3;
    transform: rotate(45deg) translate(-4px, -5px);
}
  
.divGitLink{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    margin-top: 2rem;
}

.divGitLink img{
    width: 16vh;
}

.divGitHub{
    background-image: url(../../assets/img/icons/gitHubBlanco.png);
    background-position: center;
    background-size: cover;
    height: 53px;
    width: 80%;   
}

.divGitHub:hover{
    background-image: url(../../assets/img/icons/gitHubNegro.png);
    cursor: pointer;
}

.divLinked{
    background-image: url(../../assets/img/icons/linkedInBlanco.png);
    background-size: cover;
    background-position: center;
    height: 53px;
    width: 80%;   
}

.divLinked:hover{
    background-image: url(../../assets/img/icons/linkedInNegro.png);
    cursor: pointer;
}

.fixed-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 9999;
}

.fixed-whatsapp:before {
    content: "";
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center center;
    width: 50px;
    height: 50px;
    background-image: url(https://raw.githubusercontent.com/matias5804/vidyaCoder/main/Imagenes/iconos/whatsapp.png);
    background-color: #50b154;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
}  

.fixed-whatsapp:hover{
    transform: scale(1.2);
    transition-duration: 0.4s;
}

@media (min-width: 1200px){
    .divGitLink{
        margin-top:3rem ;
    }

    .nav__menu{
        width: 17vw;
    }
}