.footer{
    background-color: rgb(34, 35, 46);
    color: white;
    display: flex;
    justify-content: center;
    height: 28rem;
}

.footerCV{
    background-color: white;
}

.divGitHubFooter{
    background-image: url(../../assets/img/icons/GitHubLogoNBlanco.png);
    background-position: center;
    background-size: cover;
    height: 53px; 
    width: 7rem; 
}

.divGitHubFooter:hover{
    background-image: url(../../assets/img/icons/GitHubLogoNNegro.png);
    cursor: pointer;
}

.divLinkedFooter{
    background-image: url(../../assets/img/icons/linkedInBlanco.png);
    background-size: cover;
    background-position: center;
    height: 53px;
    width: 7rem;
}

.divLinkedFooter:hover{
    background-image: url(../../assets/img/icons/linkedInNegro.png);
    cursor: pointer;
}

.divGitLinkFooter{
    display: flex;
    width: 30%;
    height: auto;
    gap: 1rem;
}

.ulFooter{
    display: flex;
    width: 43rem;
    gap: 2rem;
    font-size: large;
    font-weight: 500;
}


.linkMenuFooter{
    font-size: larger;
    text-decoration: none;
    color:white;
    position: relative;    
    border-bottom: 5px solid transparent;
}

.linkMenuFooter:hover{
    text-decoration-line:underline;
    text-decoration-color: white;
    border-bottom: 3px solid white;
}

.LinkMenuFooter:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.linkMenuFooter::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color:white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.viewMore {
    color: #18272F;
    position: relative;
    text-decoration: none;
}  
  
.viewMore::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: black;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.viewMore:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.footerDos{
    background-image: url(../../assets/img/icons/montaniaFooter.png);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15rem;
}
